[Unit]
Description=Discord Bot
After=network.target

[Service]
WorkingDirectory=/home/ethan/DiscordCraft
User=ethan
Type=idle
ExecStart=/usr/bin/python3 /home/ethan/DiscordCraft/bot.py &> /dev/null
Restart=always

[Install]
WantedBy=multi-user.target
