[Unit]
Description=Discord Bot
After=network.target

[Service]
WorkingDirectory=/home/triangle/DiscordCraft
User=triangle
Type=idle
ExecStart=/usr/bin/python3 bot.py &> /dev/null
Restart=always

[Install]
WantedBy=multi-user.target
